<div class="show-wrapper">
    <%= render @product %>
</div>
<div class="reviews-wrapper">
    <div class="header">Reviews</div>
    <% @product.reviews.each do |review| %>
        <div class="review">
            <div class="top">
                <img class="image" src=<%= review.user.image_url %> />
                <div class= "username"><%= review.user.username%></div>
                <%= link_to "View User", user_path(review.user), class: "view-user" %>
            </div>
            <div class="bottom">
                <div class= "comment"><%= review.comment%></div>
            </div>
        </div>
    <% end %>
</div>